*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  min-height: 100vh;
  padding: 70px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

input {
  margin-inline: 1rem;
  margin-block: 2rem;
  width: 700px;
  padding: 15px;
}

button {
  padding: 15px;
}

.element {
  margin-block: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.element img{
  max-width: 250px;
}

.element-div {
  height: 500px;
  border: 3px solid #000;
  margin: 0 auto;
  padding: 20px;
}

p {
  margin: 0 auto;
}